html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

/* My custom Styles */
.dark-primary-color    { background-color: #7B1FA2 !important; } //purple700
.default-primary-color { background-color: #9C27B0 !important; } //purple500
.light-primary-color   { background-color: #E1BEE7 !important; } //purple100
.text-primary-color    { color: #FFFFFF !important; } //white
.accent-color          { background-color: #FF4081 !important; } //pinkA200
.primary-text-color    { color: #212121 !important; } //grey900
.secondary-text-color  { color: #757575 !important; } //grey600
.divider-color         { border-color: #BDBDBD !important; } //grey400

.menu {
    width: 400px;
    display: inline-block !important;
    float: left !important;
}

.login {
    width : 100%;
    height : 966px;
}

.login-box {
    margin: auto !important;
    position : absolute;
    top: 25%;
    left: 40%;
    width : 500px;
    height : 500px;
    background-color: #FF4081 !important;
    padding : 100px;
    text-align :center;
}

.home {
    padding : 50px;
    display: flex ;
    justify-content : space-around;
}

.home-card{
    width : 600px !important;
    height : 807px !important;
}

.chat-bot {
    width : 50%;
    margin-top : 50px;
    margin-left : auto !important;
    margin-right : auto !important;
}

.chat-evelyn {
    margin : 5px;
    padding : 8px;
    width : 60%;
    display : flex;
    justify-content : space-between;
    align-items : center;
    margin-right : auto;
    background-color : #9C27B0;
    color : #FFFFFF;
}

.chat-user {
    margin : 5px;
    padding : 8px;
    display : flex;
    width : 60%;
    justify-content : space-between;
    align-items : center;
    margin-left : auto;
    background-color : #FF4081;
    color : #FFFFFF;
}

.chat-paper {
    height : 750px;
}

.chat-box {
    height : 600px;
    max-height : 600px;
    padding : 10px;
    overflow: auto;
}

.game {
    width : 75%;
    margin-top : 50px;
    margin-left : auto !important;
    margin-right : auto !important;
}

.game-paper {
    height : 750px;
    padding : 50px;
}

h1 {
   color : #FFFFFF !important;
}
.login-btn {
    margin-top : 30px;
    color : #FFFFFF !important;
}

.centerFlex {
    height : 50%;
    width : 50%;
    margin-left:auto;
    margin-right:auto;
}

.flexButton{
    display:flex;
    justify-content: space-between;
}
.middle{
    display:flex;
    justify-content:center;
}

.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@-moz-keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes three-quarters-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
