<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="820624577284-pnnnj9h7reov4pkk0i3n3fkiiq6s28o4.apps.googleusercontent.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
      <title>Welcome to emmerce</title>
  </head>
  <body>

    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            <h4>Welcome to emmerce</h4>
            <p>If you're seeing this message, that means you haven't yet compiled your ClojureScript!</p>
            <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p>
            <h4>For better ClojureScript development experience in Chrome follow these steps:</h4>
            <ul>
              <li>Open DevTools
              <li>Go to Settings ("three dots" icon in the upper right corner of DevTools > Menu > Settings F1 > General > Console)
              <li>Check-in "Enable custom formatters"
              <li>Close DevTools
              <li>Open DevTools
            </ul>
            <p>See <a href="http://www.luminusweb.net/docs/clojurescript.md">ClojureScript</a> documentation for further details.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
